name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - vendor/cpm-cmake-package-lock
  pull_request:

jobs:
  build:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: example
        run: make -C example
      - name: tests
        run: make -C tests
