name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: example
        run: make -C example
      - name: tests
        run: make -C tests
